.card img {
    max-width: 45%;
    max-height: 80%;
    object-fit: contain;
}
.card-img-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    height: 80%;
}
.card {
    width: 500px;
    height: 500px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
body {
    font-family: sans-serif;
    padding-bottom: 100px;
}

.login-container {
    display: flex; /* Allow horizontal layout of form elements */
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    min-height: 100vh; /* Ensure form takes up the full viewport height */
}

.container1 {

}


header {
    background-color: #7e00aa;
    padding: 20px;
    font-family: sans-serif;
}

.logo {
    width: 100px;
    height: auto;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #7e00aa ;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Stile per il footer */
footer {
    background-color: #7e00aa;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

popup {
    display: none; /* Nascondi il popup */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: cadetblue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

main {
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #7e00aa;
}

.btn {
    background-color: #7e00aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

label {
    text-align: center;
    display: flex; /* Make labels behave like block elements */
    margin-bottom: 5px; /* Add some space below labels */
    font-weight: bold; /* Make labels bold for emphasis */
    align-items: center;
    justify-content: center;
}

/* Styling for Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    width: 100%; /*Make inputs span the full width */
    padding: 10px; /* Add padding for better spacing */
    border: 1px solid #ccc; /* Add a thin border */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: content-box; /* Ensure padding is included in width */
    margin-bottom: 10px; /* Add some space below inputs */
    font-size: 12px; /* Set a comfortable font size */
    padding: 5px;
}

.container1 {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    min-height: 100vh; /* Set minimum height to cover the viewport */
    width: 100%; /* Make the container span the full width */
    margin: 0 auto; /* Remove default margins and center horizontally */
}
