body {
    font-family: sans-serif;
}

.login-container {
    display: flex; /* Allow horizontal layout of form elements */
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    min-height: 100vh; /* Ensure form takes up the full viewport height */
}

.container1 {

}


header {
    background-color: #7e00aa;
    padding: 20px;
    font-family: sans-serif;
}

.logo {
    width: 100px;
    height: auto;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    background-color: #7e00aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

label {
    text-align: center;
    display: flex; /* Make labels behave like block elements */
    margin-bottom: 5px; /* Add some space below labels */
    font-weight: bold; /* Make labels bold for emphasis */
    align-items: center;
    justify-content: center;
}

/* Styling for Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    width: 100%; /*Make inputs span the full width */
    padding: 10px; /* Add padding for better spacing */
    border: 1px solid #ccc; /* Add a thin border */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: content-box; /* Ensure padding is included in width */
    margin-bottom: 10px; /* Add some space below inputs */
    font-size: 12px; /* Set a comfortable font size */
    padding: 5px;
}

.container1 {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    min-height: 100vh; /* Set minimum height to cover the viewport */
    width: 100%; /* Make the container span the full width */
    margin: 0 auto; /* Remove default margins and center horizontally */
}